{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <article class="change-password">
        <h2 class="title">Change password</h2>
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
            {{ form_row(form.current_password) }}
            {{ form_row(form.plainPassword) }}
            {{ form_rest(form) }}
            <div>
                <input class="btn btn-mine" type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </form>
    </article>
{% endblock %}