{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
    <div class="container">
        <div class="row">
            <div id="login" class="widget login col-sm-8 col-sm-offset-2">
                <div><h4 class="widget-title">Create a new password</h4></div>

                <p style="font-size: 16px">Almost done! You just need to enter new password bellow</p><br>
                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                    {{ form_row(form.plainPassword) }}
                    {{ form_rest(form) }}
                    <div>
                        <input class="btn-mine btn" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                    </div>
                </form>
                <br>
                <p><a style="color:white;" href="{{ path('homepage') }}" title="Are you lost?">← Back to homepage</a></p>
            </div>
        </div>
    </div>
{% endblock container %}


